<form onsubmit="return false;" id="GoodsForm" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body think-box-shadow padding-left-40">

        <div class="layui-form-item layui-row layui-col-space15">
            <label class="layui-col-xs3 relative">
                <span class="color-green">作品分类</span>
                <select class="layui-select" required name="cate_id" lay-search>
                    {foreach $cates as $cate}
                    {if isset($vo.cate_id) and $vo.cate_id eq $cate.id}
                    <option selected value="{$cate.id}">{$cate.id} - {$cate.title|default=''}</option>
                    {else}
                    <option value="{$cate.id}">{$cate.id} - {$cate.title|default=''}</option>
                    {/if}
                    {/foreach}
                </select>
            </label>
            <label class="layui-col-xs9 relative">
                <span class="color-green">作品名称</span>
                <input name="title" required class="layui-input" placeholder="请输入作品名称" value="{$vo.title|default=''}">
            </label>
        </div>
        <div class="layui-form-item layui-col-xs3">
            <span class="color-green label-required-prev">作品封面图</span>
            <table class="layui-table">
                <thead>
                <tr>
                    <th class="text-center">作品封面图</th>
                </tr>
                <tr>
                    <td width="90px" class="text-center"><input name="logo" type="hidden" value="{$vo.logo|default=''}"></td>
                </tr>
                </thead>
            </table>
            <script>$('[name="logo"]').uploadOneImage(), $('[name="image"]').uploadMultipleImage()</script>
        </div>
        <div class="layui-form-item">
            <label class="layui-col-xs9 relative">
                <span class="color-green">查看人数</span>
                <input name="number_sales" class="layui-input" placeholder="请输入查看人数" value="{$vo.number_sales|default=0}">
            </label>
        </div>
        <div class="layui-form-item">
            <label class="layui-col-xs9 relative">
                <span class="color-green">发布时间</span>
                <input name="send_time" required class="layui-input" id="send_time" placeholder="yyyy-MM-dd" value="{$vo.send_time|default=''}">
            </label>
        </div>


        <div class="layui-form-item block">
            <span class="label-required-prev color-green">作品详细内容</span>
            <textarea name="content">{$vo.content|default=''|raw}</textarea>
        </div>

        <div class="layui-form-item text-center">
            {notempty name='vo.id'}<input type="hidden" name="id" value="{$vo.id}">{/notempty}
            <button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消编辑</button>
            <button class="layui-btn" type="submit">保存作品</button>
        </div>

    </div>
</form>
{/block}

{block name='script'}
<textarea class="layui-hide" id="goods-specs">{$vo.specs|raw|default=''}</textarea>
<textarea class="layui-hide" id="goods-value">{$defaultValues|raw|default=''}</textarea>
<script>
    window.form.render();
    layui.use('laydate', function() {
        var laydate = layui.laydate;

        //常规用法
        laydate.render({
            elem: '#send_time'
        });
    });

    require(['ckeditor', 'angular'], function () {
        window.createEditor('[name="content"]', {height: 500});
        var app = angular.module("GoodsForm", []).run(callback);
        angular.bootstrap(document.getElementById(app.name), [app.name]);

        function callback($rootScope) {
            $rootScope.isAddMode = parseInt('{$isAddMode|default=0}');
            $rootScope.maps = JSON.parse(angular.element('#goods-value').val() || '[]') || {};
            $rootScope.specs = JSON.parse(angular.element('#goods-specs').val() || '[{"name":"默认分组","list":[{"name":"默认规格","check":true}]}]');
            // 批量设置数值
            $rootScope.batchSet = function (type, fixed) {
                layer.prompt({title: '请输入数值', formType: 0}, function (value, index) {
                    $rootScope.$apply(function () {
                        var val = (parseFloat(value) || 0).toFixed(fixed);
                        for (var i in $rootScope.specsTreeData) for (var j in $rootScope.specsTreeData[i]) {
                            $rootScope.specsTreeData[i][j][type] = val;
                        }
                    });
                    layer.close(index);
                });
            };
            // 返回作品列表
            $rootScope.hsitoryBack = function () {
                $.msg.confirm('确定要取消编辑吗？', function (index) {
                    history.back(), $.msg.close(index);
                });
            };
            // 设置默认值
            $rootScope.setValue = function (key, type, value, call) {
                $rootScope.maps[key] || ($rootScope.maps[key] = {});
                return $rootScope.maps[key][type] = eval(call.replace('_', "'" + value + "'"));
            };
            // 读取默认值
            $rootScope.getValue = function (key, callback) {
                if (typeof callback === 'function') {
                    return callback($rootScope.maps[key] || {});
                }
                return {};
            };
            // 去除空白字符
            $rootScope.trimSpace = function (value) {
                return (value + '').replace(/\s*/ig, '');
            };

        }
    })
</script>