{extend name='main'}

{block name="button"}
<!--{if auth("admin/works/add")}-->
<button data-open='{:url("add")}' data-title="添加作品" class='layui-btn layui-btn-sm layui-btn-primary'>添加作品</button>
<!--{/if}-->
<!--{if auth("admin/works/remove")}-->
<button data-action='{:url("remove")}' data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-primary'>删除作品</button>
<!--{/if}-->
{/block}

{block name="content"}
<div class="think-box-shadow">
    {include file='works/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='list-table-sort-td'>
                <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
            </th>
            <th class='text-left nowrap' width="10%">作品名称</th>
            <th class='text-left nowrap' width="20%">作品封面</th>
            <th class='text-left nowrap' width="20%">发布时间</th>
            <th class='text-left nowrap' width="10%">查看人次</th>
            <th></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'><input class="list-check-box" value='{$vo.id}' type='checkbox'></td>
            <td class='list-table-sort-td'><input data-action-blur="{:request()->url()}" data-value="id#{$vo.id};action#sort;sort#{value}" data-loading="false" value="{$vo.sort}" class="list-sort-input"></td>
            <td class='text-left nowrap'>{$vo.title|default=''}</td>
            <td class='text-left nowrap'><img src="{$vo.logo|default=''}" alt=""></td>
            <td class='text-left nowrap'>{$vo.send_time|default=''}</td>
            <td class='text-left nowrap'>{$vo.number_sales|default=0}</td>
            <td class='text-left nowrap'>
                <div class="nowrap margin-bottom-5">
                    {if auth("store/goods/edit")}
                    <a data-dbclick class="layui-btn layui-btn-sm" data-open='{:url("edit")}?id={$vo.id}'>编 辑</a>
                    {else}
                    <a data-tips-text="您没有编辑作品的权限哦！" class="layui-btn layui-btn-sm layui-btn-primary layui-disabled">编 辑</a>
                    {/if}

                    {if isset($vo.status) and $vo.status eq 1}
                    <!--{if auth("store/goods/forbid")}-->
                    <a class="layui-btn layui-btn-sm layui-btn-warm" data-action="{:url('forbid')}" data-value="id#{$vo.id};status#0">关 闭</a>
                    <!--{else}-->
                    <a data-tips-text="您没有下架作品的权限哦！" class="layui-btn layui-btn-sm layui-btn-primary layui-disabled">开 启</a>
                    <!--{/if}-->
                    {else}
                    <!--{if auth("store/goods/resume")}-->
                    <a class="layui-btn layui-btn-sm layui-btn-warm" data-action="{:url('resume')}" data-value="id#{$vo.id};status#1">开 启</a>
                    <!--{else}-->
                    <a data-tips-text="您没有上架作品的权限哦！" class="layui-btn layui-btn-sm layui-btn-primary layui-disabled">关 闭</a>
                    <!--{/if}-->
                    {/if}
                    {if auth("store/goods/remove")}
                    <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除数据吗?" data-action="{:url('remove')}" data-value="id#{$vo.id}">删 除</a>
                    {else}
                    <a data-tips-text="您没有删除作品的权限哦！" class="layui-btn layui-btn-sm layui-btn-primary layui-disabled">删 除</a>
                    {/if}
                </div>

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
